.bg1{
    background:url(../img/bg2.jpg);
    background-position: right top;
    position: relative;
}

.bg2{
    background-image: url(../img/bg1.jpg);
    background-color: #eeeae9;
    padding: 0;
}

.bg3{
    background-image: url(../img/bg3.jpg);
    background-size:cover;
}

.bg4{
    background:url(../img/bg4.jpg);
    background-size:cover;
}

.bg5{
    background:url(../img/bg555.jpg);
    background-size:cover;
}

.bg6{
    background:url(../img/bg5.jpg) left top no-repeat;
    background-size:cover;

}

.bg7{
    background:url(../img/family.jpg)center top no-repeat;
    padding-top: 20px;
    padding-bottom: 5px;
    background-size: cover;
}


.main_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100% 100%;
    padding: 30px 0;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.main_form h2 {
    color: #01a676;
    font-weight: normal;
    margin-top: 25px;
}

.sertif {
    color: blue;
    font-size: 14px;
    font-style: italic;
}

.blue-border {
    margin: 15px 20px 15px 20px;
    border: 2px solid #0299ff;
    padding: 10px;
    max-width: 700px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4em;
}

.main_form input {
    font-size: 18px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
}
.main_form textarea {
    font-size: 18px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
    height: 100px;
}
.main_form label {
    margin-top: 10px;
    font-size: 16px;
}

.main_form button {
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    width: 260px;
    margin-bottom: 40px;
}



.price_red {
    font-weight: bold;
    color: red;
}

.timelimit,
.additional {
    font-size: 22px;
    text-align: center;
    padding: 0 20px;
}

.timelimit b {
    display: inline-block;
    background: url(../img/timerIcon2.png) no-repeat;
    margin-top: -2px;
    color: red;
    vertical-align: middle;
    background-position-y: 14px;
    font-size: 26px;
}

.blue-link {
    color: #2584f2;
}

.blue-block {
    background: #D1E7FF;
    border: 2px solid #0158BA;
    box-sizing: border-box;
    padding: 30px 14px;
}

.blue-border {
    margin: 15px 20px 15px 20px;
    border: 2px solid #0299ff;
    padding: 10px !important;
    max-width: 700px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4em;
    text-align: center !important;
}

@media only screen and (max-width: 321px) {
    .main_form input {
        max-width: 270px;
        font-size: 18px;
    }
    .main_form button {
        width: 240px;
    }
}

.main_form h2 {
    color: black;
    font-weight: bold;
}

.main_form p {
    padding-bottom: 10px !important;
}

.pulse-button {
    position: relative;
    width: 72px;
    height: 72px;
    border: none;
    box-shadow: 0 0 0 0 #ff0000;
    border-radius: 50%;
    background-color: #d51c1c;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 999;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 25px;
    right: 25px;
    -webkit-animation: pulse 2.25s infinite cubic-bezier(0.16, 0, 0, 1);
    -moz-animation: pulse 2.25s infinite cubic-bezier(0.16, 0, 0, 1);
    -ms-animation: pulse 2.25s infinite cubic-bezier(0.16, 0, 0, 1);
    animation: pulse 2.25s infinite cubic-bezier(0.16, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 33px rgba(52, 187, 112, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 33px rgba(52, 187, 112, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 33px rgba(52, 187, 112, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 33px
rgba(52, 187, 112, 0);}}

.pulse-button:hover
{
  background-color: #cf3b3b;
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}




@media (max-width: 480px) {
  body{
    background-color: #000 !important;
  }

  .mobile{
    width: 320px;
    display: block;
    margin: 0 auto;
  }

  .desktop{
    display: none;
  }

  .header_img img{
    width: 100%;
  }

  header,
  footer{
    padding: 0 10px;
  }
.reasons__title {
		margin-bottom: 60px;
	}

  header small,
  footer small{
    font-size: 22px;
  }

  .header_title>span{
    font-family: 'Impact';
    color: #f8a341;
    font-size: 45px;
    text-transform: uppercase;
  }

  .header_title small{
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Impact';
    font-size: 23px;
  }

  .header_title small span{
    color: #f8a341;
  }

  .list_header{
    margin-left: 10px;
  }

  .list_header{
    font-size: 17px;
  }

  .header_title{
    padding-left: 0;
    padding-top: 20px;
    line-height: 1.2;
  }

  .list_header{
    margin-left: 0;
    margin-top: 40px;
  }

  footer, header{
    padding-bottom: 15px;
  }

  .header_img{
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .list_header li{
    -webkit-background-size: 30px;
         -o-background-size: 30px;
            background-size: 30px;
  height: 30px;
  }


  .list_header li:nth-child(2){
    background-position: 0 -46px;
  }

  .list_header li:nth-child(3){
    background-position: 0 -93px;
  }

  .list_header li:nth-child(4){
    background-position: 0 -141px;
  }

  .list_header li:nth-child(5){
    background-position: 0 -188px;
  }

  .form>span{
    font-size: 23px;
    padding: 18px 20px 45px;
  }

  .form__btn, .item_btn a{
    font-size: 37px;
  }

  .new_price_val{
    font-size: 35px;
  }

  .new__name, .new_price_cur{
    font-size: 18px;
  }

  .price__old{
    font-size: 14px;
  }

  .old_price_cur, .old_price_val{
    font-size: 18px;
  }

  .price__old:after{
    bottom: 12px;
  }

  .why{
    background: url('../img/why_mob.png') no-repeat;
    padding: 10px 15px 25px;
  }

  .why_head span{
    display: block;
  }

  .why_head{
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .why_list{
    font-size: 19px;
  }

  .why_list li{
    padding-left: 40px;
    background-position: -9px -337px;
    margin-bottom: 25px;
  }

  .why_foot{
    font-size: 19px;
    padding: 15px 0 19px;
  }

  .testos{
    background-color: #FFF;
    padding: 10px 20px;
  }

  .testos_head{
    font-size: 40px;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .testos_text{
    font-size: 18px;
    margin-top: 25px;
  }

  .testos_wrapper span{
    padding-top: 0;
    font-size: 27px;
    line-height: 1.2;
  }

  .testos_text p{
    margin-bottom: 25px;
    font-size: 16px;
  }

  .testos_item p{
    font-size: 16px;
  }

  .testos_item{
    margin-bottom: 20px;
  }

  .testos_foot{
    background-color: #FFF;
  }

  .testos_foot_text{
    font-size: 22px;
    text-align: center;
  }

  .form__btn, .item_btn a{
    font-size: 20px;
  }

  .item_btn{
    text-align: center;
    margin-bottom: 0;
  }

  .item_btn a{
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
      padding: 20px 45px 20px 45px;
  }

  .testos_foot .item_btn:after{
    background: url("../img/strelka2_mob.png") no-repeat;
    width: 56px;
    height: 13px;
    right: 0;
    top: -15px;
  }

  .testos_foot .item_btn:before{
    background: url("../img/strelka1_mob.png") no-repeat;
    width: 56px;
    height: 13px;
    left: 0;
    top: -15px;
  }

  .testos_foot .item_btn a{
    position: relative;
    bottom: 23px;
  }

  .form__btn{
    padding: 18px 0 22px;
    margin-left: 0;
  }

  .appetit{
    background-image: url("../img/header_bg (1).png");
    background-size: cover;
  }

  .appetit_head{
    font-size: 24px;
    margin-bottom: 15px;
  }

  .appetit_list{
    font-size: 14px;
  }

  .appetit_list li{
    height: 35px;
    -webkit-background-size: 25px;
         -o-background-size: 25px;
            background-size: 25px;
        background-position: 0 -242px;
        padding-left: 40px;
        margin-bottom: 33px;
  }

  .sostav_head{
    font-size: 34px;
  }

  .sostav_head p{
    font-size: 12px;
  }

  .appetit_product{
    padding-top: 0;
  }

  .appetit_product img{
    width: 100%;
  }

  .appetit_img img{
    width: 70px;
  }

  .appetit_text span{
    font-size: 20px;
    margin-bottom: 0;
  }

  .appetit_text p{
    font-size: 13px;
    line-height: 17px;
  }

  .appetit_text{
    padding-left: 0;
  }

  .dokvo{
    background-color: #FFF;
    padding: 15px 0;
  }

  .sostav{
    padding-bottom: 10px;
  }

  .dokvo_head{
    font-size: 32px;
  }

  .dokvo_head div{
    font-size: 28px;
    font-weight: bold;
  }

  .dokvo_head div span{
    display: block;
  }

  .dokvo_img img{
    width: 100%;
  }

  .dokvo_text{
    margin-left: 20px;
    font-size: 16px;
  }

  .dokvo_img{
    padding: 0 15px;
    margin-bottom: 20px;
  }

  .spec_text div{
    font-size: 36px;
    text-align: center;
  }

  .spec{
    padding: 20px 15px 0;
  }

  .spec_list{
    bottom: 87px;
    left: 36px;
    font-size: 12px;
  }

  .spec_img{
    margin-bottom: 20px;
  }

  .garanti_img img{
    width: 90px;
  }

  .garanti{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .garanti_img{
    position: static;
    float: left;
    margin-right: 15px;
  }

  .proc{
    display: block;
    font-family: "ProximaNovaExCnSemiBold";
    font-size: 21px;
    text-transform: uppercase;
    line-height: 24px;
    padding-top: 10px;
  }

  .garanti_text{
    padding-left: 0;
  }

  .garanti_wrapper{
    height: auto;
    padding: 10px 10px 5px 15px;
  }

  .garanti_text p{
    font-family: 'Roboto';
    font-size: 18px;
  }

  .how_use_head{
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 1;
  }

  .how_use{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .how_use_text p{
    font-size: 18px;
  }

  .reviews_head{
    font-size: 30px;
  }

  .reviews{
    background-color: #FFF;
  }

  .owl-nav{
    display: none !important;
  }

  .item_reviews p:before,
  .item_reviews p:after{
    display: none;
  }

  .item_reviews{
    padding: 0;
  }

  .item_reviews p{
    font-size: 14px;
  }

  .item_reviews address{
    text-align: left;
  }

  .links{
    color: #FFF;
    font-size: 14px;
  }

  .links a{
    color: #FFF;
  }

  .spec_text p{
    font-size: 15px;
  }

}
.errorMessage{
    box-sizing: border-box;
    position: absolute;
    z-index: 100000;
    font-size: 13px;
    background: #DC3434;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    line-height: 13px;
    padding: 8px 12px;
}
.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; }
.copyright img:first-child { display: block!important; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }
.form__input {padding-left: 10px;}


.fade-in-out {
  opacity: 0;
  animation: fade-in 2s ease-in forwards, fade-out 2s 7s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.attic__close {
    color:black;
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    font-weight: 900;
    line-height: 1;
    font-size: 12px;
    letter-spacing: normal;
}

.attic__wrapper {
    position: fixed;
    left: 63%;
    top: 10;
    transform: translate(-50%, 0) translateZ(0);
    width: 70%;
    height: auto;
    z-index: 500;
    padding: 1px;
    text-align: center;
    background: #333;
    color: #ff0f0f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:15px;
    font-size: 14px;
    line-height: normal;
    border-radius: 12px;
    box-shadow: 0 25px 15px -15px rgb(0 0 0 / 25%);
    text-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    letter-spacing: 0.5px;
}



